--
-- PostgreSQL database dump
--

\restrict x9beHLGJXsDGZIsG2Fj3pj9eagl1qjgMOQ8QGBix8ZUc4TunNVUALLPljiyue0d

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: material_sizes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.material_sizes (id, inventory_material_id, size_name, width_mm, height_mm, unit_cost, is_default, is_active, created_at, updated_at) FROM stdin;
1	99	Standard	1000.00	1400.00	\N	1	1	2025-11-21 11:42:08.143699	2025-11-21 11:42:08.143699
2	100	larger	1200.00	1400.00	50.00	1	1	2025-11-21 11:46:00.33101	2025-11-21 11:46:00.33101
3	99	Avery Card 335 gsm	559.00	711.00	\N	0	1	2025-11-21 11:53:35.042963	2025-11-21 11:53:35.042963
\.


--
-- Data for Name: materials; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: process_sequences; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: process_steps; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.categories_id_seq', 12, true);


--
-- Name: companies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.companies_id_seq', 7, true);


--
-- Name: material_sizes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.material_sizes_id_seq', 3, true);


--
-- Name: materials_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.materials_id_seq', 100, true);


--
-- Name: process_sequences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.process_sequences_id_seq', 9, true);


--
-- Name: process_steps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.process_steps_id_seq', 95, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.products_id_seq', 99, true);


--
-- PostgreSQL database dump complete
--

\unrestrict x9beHLGJXsDGZIsG2Fj3pj9eagl1qjgMOQ8QGBix8ZUc4TunNVUALLPljiyue0d

